:root {
    --v-theme-title-font: 'Roboto', sans-serif;
    --v-theme-title-font-size: 28px;
    --v-theme-title-line-height: 30px;
    --v-theme-body-font: 'Roboto', sans-serif;
    --v-theme-body-font-size: 15px;
    --v-theme-body-line-height: 20px;
    --v-theme-date-font: 'Roboto', sans-serif;
    --v-theme-date-font-size: 12px;
    --v-theme-date-line-height: 20px;
    --v-theme-media-title-font: 'Roboto', sans-serif;
    --v-theme-media-title-font-size: 18px;
    --v-theme-media-title-line-height: 21px;
    --v-theme-media-body-font: 'Roboto', sans-serif;
    --v-theme-media-body-font-size: 15px;
    --v-theme-media-body-line-height: 20px;
}
