h1 {
    color: var(--v-primary-base);
    font-size: 28pt;
}

h1.white {
    color: #fff;
    background-color: var(--v-primary-base);
    font-size: 23pt;
}

h2 {
    color: var(--v-primary-base);
    font-size: 17pt;
}

h3 {
    color: var(--v-accent-base);
    font-size: 13pt;
}

h4 {
    color: var(--v-secondary-base);
    font-size: 11pt;
}

.pullQuote {
    color: var(--v-secondary-base);
    font-size: 14pt;
}

.body {
    color: var(--v-primary-base);
    font: var(--v-theme-body-font);
}

.mediaDescription {
    color: var(--v-primary-base);
    font-size: 11pt;
}

.date {
    color: var(--v-primary-base);
    font-size: 8pt;
}