
.itemTitle {
    color: var(--v-primary-base);
    font-family: var(--v-theme-title-font);
    font-size: var(--v-theme-title-font-size-scaled);
    line-height: var(--v-theme-title-line-height-scaled);
}

.itemBody {
    color: var(--v-primary-base);
    font-family: var(--v-theme-body-font);
    font-size: var(--v-theme-body-font-size-scaled);
    line-height: var(--v-theme-body-line-height-scaled);
}

.itemDate {
    color: var(--v-secondary-base);
    /*font-family: Roboto-Regular;*/
    font-size: 9px;
    line-height: 15px;
}